---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import SocialProof from '../components/SocialProof.astro';
import ProblemSolution from '../components/ProblemSolution.astro';
import Features from '../components/Features.astro';
import Comparison from '../components/Comparison.astro';
import UseCases from '../components/UseCases.astro';
import Testimonials from '../components/Testimonials.astro';
import Integrations from '../components/Integrations.astro';
import OpenSource from '../components/OpenSource.astro';
import CTASection from '../components/CTASection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navigation />
  <main id="main-content">
    <Hero />
    <SocialProof />
    <ProblemSolution />
    <section id="features">
      <Features />
    </section>
    <section id="compare">
      <Comparison />
    </section>
    <section id="use-cases">
      <UseCases />
    </section>
    <Testimonials />
    <Integrations />
    <OpenSource />
    <CTASection />
  </main>
  <Footer />
</Layout>
